@use "../../styles/partials/variables" as *;
.verbExample{
    padding-left: 15px;
    color: $grey0;
}

@media only screen and (max-width: 425px){
    .verbExample{
        font-size: $fs-14;
    }
}