@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.wordTypeTitle{
    height: 29px;
    display: flex;
    align-items: center;
    column-gap: 20px;
    .wordType{
        color: $black2;
        font-style: italic;
        font-weight: 600;
        font-size: $fs-20;
        letter-spacing: -0.5px;
    }
    .greyLine{
        height: 1px;
        width: 100%;
        background-color: $grey1;
    }
}


@media only screen and (max-width: 425px){
    .wordTypeTitle{
        .wordType{
            font-size: $fs-20;
            letter-spacing: -2.2px;
        }
    }
}