@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.defWrapper{
    position: relative;
    padding: 32px 0px ;
    display: flex;
    flex-direction: column;
    row-gap: 39px;
    .sourceWrapper{
        height: 37px;
        display: flex;
        align-items: center;
        column-gap: 37px;
        & *{
            text-decoration: underline;
            font-size: $fs-14;
        }
        p{
            color: $grey0;
        }
        .sourceContainer{
            display: flex;
            flex-wrap: wrap;
            column-gap: 10px;
            .sourceText{
                @include transition(color);
            }
        }
    }
}

@media only screen and (max-width: 425px) {
    .defWrapper{
        row-gap: 32px;
    }
}