@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.audioWrapper{
    width: 65px;
    aspect-ratio: 1/1;
    background-color: $purpleLight;
    border-radius: 100%;  
    display: flex;
    justify-content: center;
    align-items: center;
    @include transition(background-color);
    &:hover{
        cursor: pointer;
    }
    .audioButtonIcon{
        width: 48px;
        aspect-ratio: 1/1;
        display: flex;
        align-items: center;
        justify-content: center;
        svg{
            position: relative;
            path{
                @include transition(all)
            }
        }
        svg[id="play-icon"]{
            left: 3px;
        }
        
    }
    audio{
        display: none;
    }      
    }

@media only screen and (max-width: 425px) {
    .audioWrapper{
        width: 52px;
        .audioButtonIcon{
            width: 20px;
        }
    }
};
