@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.audioWrapper{
    width: 65px;
    aspect-ratio: 1/1;
    background-color: $purpleLight;
    border-radius: 100%;  
    display: flex;
    justify-content: center;
    align-items: center;
    @include transition(background-color);
    &:hover{
        cursor: pointer;
    }
    .audioButtonIcon{
        width: 28%;
        aspect-ratio: 1/1;
        position: relative;
        left: 0.25px;
        svg{
            path{
                @include transition(all)
            }
        }
        
    }
    audio{
        display: none;
    }      
    }

@media only screen and (max-width: 425px) {
    .audioWrapper{
            width: 48px;
    }
};
