@use "../../styles/partials/variables" as *;


.bannerWrapper{
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoWrapper{
    img{
        display: block;
        width: 25px;
        aspect-ratio: 1/1;
    }
}

.bannerToggles{
    min-width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    .toggleSep{
        width: 0.4px;
        background-color: $grey1;
        height: 28px;
    }
}

